* {
  box-sizing: border-box;
}

input:focus {
  outline:white 1px solid;
}

body {
  background-color:white;
  background: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgb(255, 102, 0) 100%);
  height:100vh;
}

input {
  background-color:rgba(255, 255, 255, 0.5);
  border:none;
  border-bottom:rgb(255, 102, 0) solid 2px;
  padding-top:4px;
  padding-bottom:4px;
  padding-left:5px;
}

.search-container {
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}

.search-container input,
.search-container .suggestions {
  font-size:20px;
  height:50px;
  width:450px;
  
}

ul {
  display:inline;
  list-style-type:none;
  padding:0;
  
}

ul li {
  background-color:rgba(255, 255, 255, 0.5);
  padding-left:5px;
  padding-bottom:10px;
  padding-top:10px;
}

ul li:hover {
  background-color:rgb(255, 102, 0);
}